<html>
	<head>
		<title></title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
			</head>
	<body>
		<table border="5" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
			<tbody>
				<tr>
			
					<td style="display: inline-flex; width:100%;justify-content: space-between; margin: 10px  0; border: 0;">
						<a href="#"><img src="img/logo.png" style=" margin: 10px 0 ; display: block;width: 100%;" /></a>
						<a  href="#"><img src="img/Logo.png" align="right" style="padding: 5px; margin: 5px auto; display: block;width: 100%;" /></a>
						
					</td>
					<tr><td style="height: 8px ; background-color: #545451 ;color: #fff; text-align: center; font-family: 'Arial Regular'; "></td></tr>
			
				</tr>
				<tr style="background-color: #fff">
					<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td style="color: #022854; text-align: center; font-family: 'Arial Regular'; ">
										<p style="margin: 20px auto 30px auto; width: 450px; font-size: 40px;">
											<b>Recuperação de senha</b></p>
											

												<p style="color: #022854; font-family: 'Arial Regular'; font-size: 16px; text-align: center; margin: 0 auto; width: 450px;">
											Este é um e-mail de <strong style="color: #022854;font-weight: bold;">recuperação de senha</strong>. Clique no link abaixo para
            redefinir sua senha e acessar a plataforma.</p>
									</td>
								</tr>
							</tbody>
						</table>
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td height="30" style="background-color: #fff; color: #022854;">
										<p style="margin: 20px auto 20px auto; font-size: 16px; text-align: center;">
												CPF: <b>{{ID_USUARIO}}</b>
										</p>
										<p style="margin: 20px auto 20px auto; font-size: 16px; text-align: center;">
												Nome: <b>{{NOME_USUARIO}}</b>
										</p>

										
									</td>
								</tr>
								
								
								<tr>
									<td align="center" style=" background-color: #fff; text-align: center;">
										<table style="margin: 10px ;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody >
                        <tr>
                          <td height="45" style="background-color: #fff;"></td>
                          <td style="color: #fff; width: 150px;height: 40px; text-align: center;" bgcolor="#545451">
                            <a
                              href={{TOKEN}}
                              target="_blank"
                              +
                              style="
                                font-size: 16px;
                                font-weight: 600;
                                text-decoration: none;
                                color: #ffffff;
                                
                                
                              "
                            >
                              Redefinir Senha
                            </a>
                          </td>
                          <td height="45" style="background-color: #fff;"></td>
                        </tr>
                      </tbody>
                    </table>
									</td>
								</tr>
								<tr>
									<td height="35" style="background-color: #fff;">
									</td>
								</tr> 
								<tr>
									<td style="background-color: #fff;color: #022854;">
										<p style=" font-family: 'Arial Regular'; font-size: 16px; text-align: center; margin: 0 auto; width: 450px;">
											Este link ficará ativo até  [@VALIDADE_TOKEN]</p>
									</td>
								</tr>
								<tr>
									<td height="45" style="background-color: #fff;">
									</td>
								</tr>
								<tr>
									<td style="background-color: #fff;color: #53685A;">
										<p style=" font-family: 'Arial ,sans-serif'; font-size: 16px; text-align: center; margin: 0 auto; width: 450px;line-height: 20px;letter-spacing: 0em;">
											Caso não tenha solicitado a recuperação de senha, pedimos que ignore este e-mail.</p>
									</td>
								</tr>
								
								<td height="45" style="background-color: #fff;"></td>

								<tr>
									<td style=" color: #fff; text-align: center; font-size: 12px; font-family: 'Arial Regular'; ">
										<p style="text-align: center; font-size: 20px; color: #838383; padding: 80px 0 58px 0;">
											CNPJ</p>
									</td>
                  <td height="80" style="background-color: #fff;"></td>
                  
								</tr>
								
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
		</p>
	</body>
</html>
